@using Microsoft.Identity.Web
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -  @Localizer["Above Beyond Project Framework"]</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link href="https://cdn.grapecity.com/wijmo/5.20203.748/styles/wijmo.min.css" rel="stylesheet" />
    <script src="https://cdn.grapecity.com/wijmo/5.20203.748/controls/wijmo.min.js"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20203.748/controls/wijmo.grid.min.js"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20203.748/controls/wijmo.grid.cellmaker.min.js"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20203.748/controls/wijmo.input.min.js"></script>
    <script src="https://cdn.grapecity.com/wijmo/5.20203.748/controls/wijmo.nav.min.js"></script>

    <script>
        wijmo.setLicenseKey('dvp-abp-framework-jpe-aps.azurewebsites.net|prd-abp-framework-jpe-aps.azurewebsites.net,759984682747697#B06OtUzNiojIklkIs4nIxYXMyAjMiojIyVmdiwSZzxWYmpjIyNHZisnOiwmbBJye0ICRiwiI34TU5dmVNdWWyIGUX9WNBRUWYhnWXhUZxlEMOZmdwcEWPFjQRJ6QvFDczkzSyQ4dadlSL9kMF34dMl7aLh5MaJTSF5UQKJDRz2Gc4Q4aK5UTzRUe9UjUs9mRNZnbwZEb4MEZ9hDVVhmQz5WdPtEawMXZLFUMClHULZXbCpFNxFWdsVVMHN7Q5xmaal4Z5RXWrkHOKNnavdUOsNnSro4R5BDayFDaIhUSi5keNRkSahFTIJWbaBzSGl7aNlTUBp6LGhESXZWVRhFVwNHbnNES5J4dBRGOCRWWplzSiBjNtFXYDp5doF6c8cleWZEOihXTYxWYnhGUBZzdzdVNYJzQ9hUdHpnVHN5bTVVZxx6aoJzYrl7S5ljbvdTO0dUYopUdpZXVUx4bvgUS5knVmZ7RulmbPRXOzMEVjR7ZFVUeplzLpJjTTNTOJVVUmpGVkZHTmdEUPFnZ0dlI0IyUiwiIGdjR4YDOBRjI0ICSiwCNzIzM8AjMzATM0IicfJye#4Xfd5nIJBjMSJiOiMkIsIibvl6cuVGd8VEIgQXZlh6U8VGbGBybtpWaXJiOi8kI1xSfiUTSOFlI0IyQiwiIu3Waz9WZ4hXRgAicldXZpZFdy3GclJFIv5mapdlI0IiTisHL3JyS7gDSiojIDJCLi86bpNnblRHeFBCI73mUpRHb55EIv5mapdlI0IiTisHL3JCNGZDRiojIDJCLi86bpNnblRHeFBCIQFETPBCIv5mapdlI0IiTisHL3JyMDBjQiojIDJCLiUmcvNEIv5mapdlI0IiTisHL3JSV8cTQiojIDJCLi86bpNnblRHeFBCI4JXYoNEbhl6YuFmbpZEIv5mapdlI0IiTis7W0ICZyBlIsICOycTNyEDI9AjMwEjMwIjI0ICdyNkIsICdl9mLzVGdpNnYldXZyVneh9ycwFWLlBnatsmcvdXZtFmcm5CciFWLkJHcsQXZu9yclRXazJWZ7Vmc5pXYuMHch5SZwpWLrJ7b7VWbhJnZtAnYh5Cc6RmI0IyctRkIsICuZmepXaOI+S09ayL9Pyb9qCq9iojIh94QiwiI7kjN7QzNyg1NJg');
    </script>


    @RenderSection("Head", required: false)
</head>
<body>
    <partial name="_CookieConsentPartial" />

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">@Localizer["Above Beyond Project Framework"]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        </div>
        <form class="form-inline my-2 my-lg-0">
            @if (User.Identity.IsAuthenticated)
            {
            <a class="navbar-brand" href="#">@Localizer["Account"] @User.GetDisplayName()</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">@Localizer["SignOut"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="EditProfile">@Localizer["EditProfile"]</a>
                </li>
            </ul>
            }
            else
            {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">@Localizer["SignIn"]</a>
                </li>
            </ul>
            }
        </form>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">

                @if (User.Identity.IsAuthenticated)
                {
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Portal"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="SearchSample" asp-action="Index">@Localizer["SearchSample"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="GoodsMaster" asp-action="Index">@Localizer["GoodsMaster"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Basis" asp-action="Index">@Localizer["Basis"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="StorageSample" asp-action="Index">@Localizer["Storage"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="ImpExpSample" asp-action="Index">@Localizer["ImpExp"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="MailSample" asp-action="Index">@Localizer["MailSample"]</a></li>
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="ChatSample" asp-action="Index">@Localizer["ChatSample"]</a></li>
                    </ul>
                </div> 
                }
                else
                {
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Portal"]</a></li>
                    </ul>
                </div>
                }
            </nav>
            <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">

                @RenderBody()

            </main>
        </div>
        <hr />
        <footer>
            <p>&copy; 2020 - @Localizer["Above Beyond Project Framework"]</p>
            <div class="col-md-6 text-right">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/dateutil.js"></script>

    <script src="https://unpkg.com/vue@3.0.4"></script><!-- Vue3 -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
